body {
  margin: 0;
  font-family: Arial;
  background: #ffffff;
  color: #111;
}

.hero {
  background: black;
  color: white;
  padding: 100px;
  text-align: center;
}

.hero a {
  background: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 50px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}
